html, body {
	margin-top: 0px;
	background: #e5e5e5;
	font-family: monospace;
	font-size: 14px;
	font-weight: normal;
}

a:link, a:hover, a:visited, a:active {
	text-decoration: underline;
	color: black;
}

h1 {
	font-size: 24px;
	text-decoration: underline;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	text-decoration: underline;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	text-weight: bold;
}

#title {
	font-size: 24px;
	text-weight: bold;
	text-decoration: underline;
	font-weight: bold;
}

span.emphasize {
	font-style: italic;
}